<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestauranteElInge.Properties.Settings.db_Restaurante_El_IngeConnectionString"
            connectionString="Data Source=HP-VICTUS-16\SQLEXPRESS;Initial Catalog=db_Restaurante_El_Inge;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>